<link rel="stylesheet" type="text/css" href="style/css/dashboard.css">

<div class="wrapper">

    <h2>Objetivo Principal</h2>
    <div class="mainchart">
        <div id="maingoal"></div>
    </div>
    <div class="mainsummary">
        <h3>Data Final: <span>2025</span></h3>
        <div class="achieved">
            <p>
                <img src="style/content/icon/piggy.png">R$ 192.000</p>
            <p id="description">Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
                impsum Lorem impsum</p>
        </div>
        <div class="remaining">
            <p>
                <img src="style/content/icon/remaining.png">R$ 108.000</p>
            <p id="description">Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem impsum Lorem
                impsum Lorem impsum</p>
        </div>
    </div>

    <hr class="divider" />

    <h3>Metas</h3>
    <div class="metas">
    </div>

    <hr class="divider" />

    <h3>Objetivos</h3>
    <div class="objetivos">
    </div>
</div>