<link rel="stylesheet" type="text/css" href="style/css/dashboard.css">

<div class="wrapper">

    <h2 id="maingoaltitle">Objetivo Principal</h2>
    <div class="mainchart">
        <div id="maingoal"></div>
    </div>
    <div class="mainsummary">
        <h3>Data Final: <span>-</span></h3>
        <div class="total">
        </div>
        <div class="achieved">
        </div>
        <div class="remaining">
        </div>
    </div>

    <hr class="divider" />

    <h3>Metas</h3>
    <div class="metas">
        <div class="infodata">
            <img src="../style/content/loading.gif">
            <p>Carregando metas...</p>
        </div>
    </div>

    <hr class="divider" />

    <h3>Objetivos</h3>
    <div class="objetivos">
        <div class="infodata">
            <img src="../style/content/loading.gif">
            <p>Carregando objetivos...</p>
        </div>
    </div>
</div>