<link rel="stylesheet" type="text/css" href="/style/css/metas.css">

<div class="container-fluid wrapper">
    <div class="title">
        <h2>Metas e Objetivos</h2>
        <button onClick="ShowModal('View/modal/GoalRegistrationModal')">Adicionar <img
                src="style/content/icon/plus.png"></button>
    </div>
    <hr />
    <div class="taskbar">
        <button class="filterbtn" onClick="FilterButton(this)">Meta</button>
        <button class="filterbtn" onClick="FilterButton(this)">Objetivo</button>
        <div class="search">
            <label for="keywords">Palavra Chave:</label>
            <input name="keywords" onkeyup="sortTable('keyword', null, this.value)"/>
        </div>
        <div class="status">
            <label for="types">Status:</label>
            <select name="types" onChange="sortTable('status', null, this.value)">
                <option>Todos</option>
                <option>Em andamento</option>
                <option>Finalizado</option>
                <option>Atrasado</option>
            </select>
        </div>
    </div>
    <div class="datatable">
        <table>
            <tbody id="tablecontent">
                <tr>
                    <th onClick="sortTable('column', this, 0)">#</th>
                    <th onClick="sortTable('column', this, 1)">Descrição</th>
                    <th onClick="sortTable('column', this, 2)">Tipo</th>
                    <th onClick="sortTable('column', this, 3)">Data Final</th>
                    <th onClick="sortTable('column', this, 4)">Status</th>
                    <th onClick="sortTable('column', this, 5)">Quantidade</th>
                    <th>Ações</th>
                </tr>
            </tbody>
        </table>
        <div class="info">
            <img src="style/content/icon/filter.png" />
            <label id="qtyFound">3 resultados</label>
        </div>
    </div>
</div>