<div class="Content NoBackground">
    <div class="RegisterModal">
        <div class="choise">
            <span class="close" onClick="CloseModal()">&times;</span>
            <div class="choises">
                <div class="item meta" onClick="ShowModal('View/modal/NewMeta')">
                    <div class="design">
                        <img class="meta" src="/style/content/icon/bullseye_white.png">
                    </div>
                    <h3>Meta</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet lectus nec odio aliquet
                        ultrices. Nunc a tellus sed ligula luctus cursus vitae quis nisl. Praesent egestas massa vel
                        aliquet auctor.</p>
                </div>
                <div class="item objetivo" onClick="ShowModal('View/modal/NewObjective')">
                    <div class="design">
                        <img class="objective" src="/style/content/icon/objective.png">
                    </div>
                    <h3>Objetivo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet lectus nec odio aliquet
                        ultrices. Nunc a tellus sed ligula luctus cursus vitae quis nisl. Praesent egestas massa vel
                        aliquet auctor.</p>
                </div>
            </div>
        </div>
    </div>
</div>