<div class="Content">
    <div class="GoalDetail">
        <span class="close" onClick="CloseModal()">&times;</span>
        <h2>Farmácia</h2>

        <div class="summary">
            <div class="summaryinfo total">
                <p>Objetivo Final</p>
                <p>R$ 2.000,00</p>
            </div>
            <div class="summaryinfo remaining">
                <p>Falta</p>
                <p>R$ 500,00</p>
            </div>
            <div class="summaryinfo saved">
                <p>Poupado</p>
                <p>R$ 1.500,00</p>
            </div>
        </div>

        <div class="data">
            <div id="progresschart" class="progresschart">
            </div>
            <div class="history">
                <!-- <h2>Histórico</h2> -->
                <p><img src="style/content/icon/up.png" />R$200,00<span>04/02/2019</span></p>
                <p><img src="style/content/icon/down.png" />R$100,00<span>15/02/2019</span></p>
                <p><img src="style/content/icon/up.png" />R$100,00<span>04/03/2019</span></p>
                <p><img src="style/content/icon/up.png" />R$350,00<span>03/04/2019</span></p>
                <p><img src="style/content/icon/up.png" />R$40,00<span>02/05/2019</span></p>
                <p><img src="style/content/icon/up.png" />R$100,00<span>06/06/2019</span></p>
            </div>
        </div>
    </div>
</div>