<div class="Content NewMeta">
    <span class="close" onClick="CloseModal()">&times;</span>

    <h2>Cadastro de Metas</h2>
    <hr>
    <label for="category">Categoria da meta <img src="../../style/content/icon/question.png">
        <span class="tooltiptext">Deseja limitar seus gastos com o quê? Lazer, transporte, mercado?</span>
    </label>
    <input id="CategoryName" name="category">
    <p class="warning" id="CategoryWarning">Por favor, insira uma categoria</p>
    <label for="amount">Quanto deseja gastar mensalmente?</label>
    <div class="amount">
        <label>R$</label>
        <input id="CategoryAmount" class="value" step="100" name="amount" min=0 type="number">
        <p class="warning" id="AmountWarning">Por favor, insira um valor maior que 0</p>
    </div>
    <button onClick="ValidateFields('meta');">Registrar</button>
    <div id="Warnings" class="warnings">
    </div>
</div>