@import "variables.scss";

.wrapper {
  font-family: roboto-regular;
  .title {
    text-align: left;
    h2 {
      font-family: roboto-bold;
      color: $GoblinBlue;
    }
  }
  #maingoal {
    width: 100%;
  }
  .mainsummary {
    width: 100%;
    margin: 0;
    h3 {
      span {
        font-family: roboto-black;
        color: $Greenery;
      }
    }
    div {
      margin: 5px;
      height: 100%;
      background-color: #eeeeee;
      width: 48%;
      padding: 20px;
      float: left;
      &:nth-of-type(1) {
        margin-left: 0;
      }
      p:nth-of-type(1) {
        img {
          float: left;
          margin-right: 20px;
          width: 40px;
          height: 40px;
        }
        .description {
          font-family: roboto-thin;
        }
        font-size: 28px;
        font-family: roboto-black;
      }
    }
  }
  .divider {
    margin: 20px 0;
    hr {
      background-color: #eeeeee;
      width: 100%;
      height: 1px;
    }
  }
  .metas {
    h3 {
      text-align: left;
      font-family: roboto-bold;
      color: $GoblinBlue;
    }
    .meta {
      text-align: center;
      padding: 20px;
      .holder {
        padding: 20px;
        background-color: #eeeeee;
        img {
          position: absolute;
          width: 30px;
          height: 30px;
          left: 0;
          margin-left: 35px;
        }
        p {
          font-family: roboto-black;
          width: 100%;
          font-size: 22px;
        }
        .graph {
          text-align: center;
          height: 250px;
        }
        &:hover {
          background-color: rgba(134, 175, 73, 0.3);
          cursor: pointer;
        }
      }
    }
    .objetivo {
      text-align: center;
      padding: 20px;
      .holder {
        padding: 20px;
        background-color: #eeeeee;
        img {
          position: absolute;
          width: 30px;
          height: 30px;
          left: 0;
          margin-left: 35px;
        }
        p {
          font-family: roboto-black;
          width: 100%;
          font-size: 22px;
        }
        .graph {
          text-align: center;
          height: 250px;
        }
      }
    }
  }
  #DetailsModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    /* Modal Content */
    .ModalContent {
      background-color: #fefefe;
      margin: auto;
      padding: 50px;
      border: 1px solid #888;
      width: 80%;
      /* The Close Button */
      .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }

      h1{
        font-family: roboto-bold;
        width: 100%;
        margin-bottom: 50px;
      }
      table{
        text-align: center;
        width: 100%;
        margin-bottom: 100px;
        th{
          font-family: roboto-thin;
          font-size: 22px;
        }
        td{
          font-family: roboto-regular;
          font-size: 42px;
        }
      }
      .data{
        width: 100%;
        text-align: center;
        .progresschart{
          width: 35%;
          float: left;
          margin: 0;
        }
        .history{
          width: 35%;
          margin: 0;
          float: right;
          h3{
            font-family: roboto-black;
            font-size: 18px;
          }
        }
        }
    }
  }
}
