@font-face {
  font-family: roboto-regular;
  src: url(../content/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-thin;
  src: url(../content/fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: roboto-black;
  src: url(../content/fonts/roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(../content/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(../content/fonts/roboto/Roboto-Bold.ttf);
}

.wrapper {
  font-family: roboto-regular;
}

.wrapper .title {
  text-align: left;
}

.wrapper .title h2 {
  font-family: roboto-bold;
  color: #5f7278;
}

.wrapper #maingoal {
  width: 100%;
}

.wrapper .mainsummary {
  width: 100%;
  margin: 0;
}

.wrapper .mainsummary h3 span {
  font-family: roboto-black;
  color: #86af49;
}

.wrapper .mainsummary div {
  margin: 5px;
  height: 100%;
  background-color: #eeeeee;
  width: 47%;
  padding: 20px;
  float: left;
}

.wrapper .mainsummary div:nth-of-type(1) {
  margin-left: 0;
}

.wrapper .mainsummary div p:nth-of-type(1) {
  font-size: 28px;
  font-family: roboto-black;
}

.wrapper .mainsummary div p:nth-of-type(1) img {
  float: left;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

.wrapper .mainsummary div p:nth-of-type(1) .description {
  font-family: roboto-thin;
}

.wrapper .divider {
  margin: 20px 0;
  padding: 0;
}

.wrapper .divider hr {
  background-color: #eeeeee;
  width: 100%;
  height: 1px;
}

.wrapper .metas {
  padding: 0 !important;
}

.wrapper .metas h3 {
  text-align: left;
  font-family: roboto-bold;
  color: #5f7278;
}

.wrapper .metas .meta {
  text-align: center;
  padding: 20px;
}

.wrapper .metas .meta .holder {
  padding: 20px 0;
  background-color: #eeeeee;
  -webkit-transition: background-color ease 0.5s;
  transition: background-color ease 0.5s;
}

.wrapper .metas .meta .holder img {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  margin-left: 35px;
}

.wrapper .metas .meta .holder p {
  font-family: roboto-black;
  width: 100%;
  font-size: 22px;
}

.wrapper .metas .meta .holder .graph {
  text-align: center;
  height: 250px;
}

.wrapper .metas .meta .holder:hover {
  background-color: rgba(134, 175, 73, 0.3);
  cursor: pointer;
}

.wrapper .metas .objetivo {
  padding: 20px;
}

.wrapper .metas .objetivo .holder {
  text-align: left;
  padding: 20px 0;
  background-color: #eeeeee;
  -webkit-transition: background-color ease 0.5s;
  transition: background-color ease 0.5s;
}

.wrapper .metas .objetivo .holder img {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  margin-left: 35px;
}

.wrapper .metas .objetivo .holder p {
  width: 100%;
  font-size: 22px;
}

.wrapper .metas .objetivo .holder p:nth-of-type(1) {
  font-family: roboto-bold;
  font-weight: bolder;
  margin-left: 20px;
}

.wrapper .metas .objetivo .holder p:nth-of-type(2) {
  text-align: center;
  font-family: roboto-thin;
  padding: 0 20px;
}

.wrapper .metas .objetivo .holder span {
  color: #86af49;
  font-family: roboto-black;
  position: absolute;
  right: 0;
  font-size: 22px;
  margin-right: 40px;
}

.wrapper .metas .objetivo .holder .graph {
  text-align: center;
  height: 250px;
}

.wrapper .metas .objetivo .holder:hover {
  background-color: rgba(134, 175, 73, 0.3);
  cursor: pointer;
}

.wrapper #DetailsModal {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.wrapper #DetailsModal .ModalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 2% 3%;
  border: 1px solid #888;
  width: 80%;
  height: 700px;
  overflow-x: auto;
}

.wrapper #DetailsModal .ModalContent .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.wrapper #DetailsModal .ModalContent .close:hover,
.wrapper #DetailsModal .ModalContent .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.wrapper #DetailsModal .ModalContent h2 {
  font-family: roboto-bold;
  width: 100%;
}

.wrapper #DetailsModal .ModalContent .summary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.wrapper #DetailsModal .ModalContent .summary .summaryinfo {
  text-align: center;
  padding: 0 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper #DetailsModal .ModalContent .summary .summaryinfo p:nth-of-type(1) {
  font-family: roboto-black;
  font-size: 1.5em;
  padding-top: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper #DetailsModal .ModalContent .summary .summaryinfo p:nth-of-type(2) {
  font-family: roboto-regular;
  font-size: 1.5em;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper #DetailsModal .ModalContent .summary .total p:nth-of-type(1) {
  color: #5f7278;
}

.wrapper #DetailsModal .ModalContent .summary .total p:nth-of-type(2) {
  background-color: #5f7278;
}

.wrapper #DetailsModal .ModalContent .summary .saved p:nth-of-type(1) {
  color: #86af49;
}

.wrapper #DetailsModal .ModalContent .summary .saved p:nth-of-type(2) {
  background-color: #86af49;
}

.wrapper #DetailsModal .ModalContent .summary .remaining p:nth-of-type(1) {
  color: #8a9a9a;
}

.wrapper #DetailsModal .ModalContent .summary .remaining p:nth-of-type(2) {
  background-color: #8a9a9a;
}

@media screen and (max-width: 768px) {
  .wrapper #DetailsModal .ModalContent .summary {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.wrapper #DetailsModal .ModalContent .data {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.wrapper #DetailsModal .ModalContent .data .progresschart {
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 768px) {
  .wrapper #DetailsModal .ModalContent .data .progresschart {
    display: none;
  }
}

.wrapper #DetailsModal .ModalContent .data .history {
  margin: 0 20px;
}

.wrapper #DetailsModal .ModalContent .data .history p {
  position: relative;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  font-family: roboto-bold;
}

.wrapper #DetailsModal .ModalContent .data .history p:nth-of-type(even) {
  background-color: rgba(134, 175, 73, 0.1);
}

.wrapper #DetailsModal .ModalContent .data .history p:nth-of-type(odd) {
  background-color: rgba(95, 114, 120, 0.1);
}

.wrapper #DetailsModal .ModalContent .data .history p img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  margin-left: 10px;
}

.wrapper #DetailsModal .ModalContent .data .history p span {
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 2px;
  font-family: roboto-regular;
  font-size: 10px;
  color: #5f7278;
}

@media screen and (max-width: 1200px) {
  .wrapper #DetailsModal .ModalContent .data {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .wrapper #DetailsModal .ModalContent .data img {
    margin-left: 20px !important;
  }
  .wrapper #DetailsModal .ModalContent .data span {
    font-size: 14px !important;
  }
  .wrapper #DetailsModal .ModalContent .data .history {
    margin: 0;
  }
}

@media screen and (max-width: 992px) {
  .wrapper #DetailsModal .ModalContent .data {
    padding: 5%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper #DetailsModal .ModalContent .data span {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper #DetailsModal .ModalContent .data {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .wrapper #DetailsModal .ModalContent {
    padding: 5%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper #DetailsModal {
    padding-top: 0;
  }
}
/*# sourceMappingURL=dashboard.css.map */