@import "variables.scss";

.wrapper {
  font-family: roboto-regular;
  .title {
    text-align: left;
    h2 {
      font-family: roboto-bold;
      color: $GoblinBlue;
    }
  }
  #maingoal {
    width: 100%;
  }
  .mainsummary {
    width: 100%;
    margin: 0;
    h3 {
      span {
        font-family: roboto-black;
        color: $Greenery;
      }
    }
    div {
      margin: 5px;
      height: 100%;
      background-color: #eeeeee;
      width: 48%;
      padding: 20px;
      float: left;
      &:nth-of-type(1) {
        margin-left: 0;
      }
      p:nth-of-type(1) {
        img {
          float: left;
          margin-right: 20px;
          width: 40px;
          height: 40px;
        }
        .description {
          font-family: roboto-thin;
        }
        font-size: 28px;
        font-family: roboto-black;
      }
    }
  }
  .divider {
    margin: 20px 0;
    hr {
      background-color: #eeeeee;
      width: 100%;
      height: 1px;
    }
  }
  .metas {
    h3 {
      text-align: left;
      font-family: roboto-bold;
      color: $GoblinBlue;
    }
    .meta {
      text-align: center;
      padding: 20px;
      .holder {
        padding: 20px;
        background-color: #eeeeee;
        transition: background-color ease 0.5s;
        img {
          position: absolute;
          width: 30px;
          height: 30px;
          left: 0;
          margin-left: 35px;
        }
        p {
          font-family: roboto-black;
          width: 100%;
          font-size: 22px;
        }
        .graph {
          text-align: center;
          height: 250px;
        }
        &:hover {
          background-color: rgba(134, 175, 73, 0.3);
          cursor: pointer;
        }
      }
    }
    .objetivo {
      padding: 20px;
      .holder {
        text-align: left;
        padding: 20px;
        background-color: #eeeeee;
        img {
          position: absolute;
          width: 30px;
          height: 30px;
          left: 0;
          margin-left: 35px;
        }
        p {
          width: 100%;
          font-size: 22px;
          &:nth-of-type(1) {
            font-family: roboto-bold;
            font-weight: bolder;
          }
          &:nth-of-type(2) {
            text-align: center;
            font-family: roboto-thin;
          }
        }
        span {
          color: $Greenery;
          font-family: roboto-black;
          position: absolute;
          right: 0;
          font-size: 22px;
          margin-right: 40px;
        }
        .graph {
          text-align: center;
          height: 250px;
        }
      }
    }
  }
  #DetailsModal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    .ModalContent {
      background-color: #fefefe;
      margin: auto;
      padding: 2% 3%;
      border: 1px solid #888;
      width: 80%;
      height: 700px;
      overflow-x: auto;
      .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }

      h2 {
        font-family: roboto-bold;
        width: 100%;
      }
      .summary {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .summaryinfo {
          text-align: center;
          padding: 0 20px;
          width: 100%;
          display: flex;
          flex-direction: column;
          p {
            &:nth-of-type(1) {
              font-family: roboto-black;
              font-size: 1.5em;
              padding-top: 20px;
              flex: 1;
            }
            &:nth-of-type(2) {
              font-family: roboto-regular;
              font-size: 1.5em;
              color: white;
              flex: 1;
            }
          }
        }
        .total {
          p:nth-of-type(1) {
            color: $GoblinBlue;
          }
          p:nth-of-type(2) {
            background-color: $GoblinBlue;
          }
        }
        .saved {
          p:nth-of-type(1) {
            color: $Greenery;
          }
          p:nth-of-type(2) {
            background-color: $Greenery;
          }
        }
        .remaining {
          p:nth-of-type(1) {
            color: $SilverBlue;
          }
          p:nth-of-type(2) {
            background-color: $SilverBlue;
          }
        }
        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;
        }
      }
      .data {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: 2fr 1fr;
        .progresschart {
          width: 100%;
          height: 500px;
        }
        @media screen and (max-width: 768px) {
          .progresschart {
            display: none;
          }
        }
        .history {
          margin: 0 20px;
          p {
            position: relative;
            text-align: center;
            padding: 15px;
            font-size: 20px;
            font-family: roboto-bold;
            &:nth-of-type(even) {
              background-color: rgba(134, 175, 73, 0.1);
            }
            &:nth-of-type(odd) {
              background-color: rgba(95, 114, 120, 0.1);
            }
            img {
              width: 30px;
              height: 30px;
              position: absolute;
              left: 0;
              margin-left: 10px;
            }
            span {
              margin-right: 10px;
              position: absolute;
              right: 0;
              top: 2px;
              font-family: roboto-regular;
              font-size: 10px;
              color: $GoblinBlue;
            }
          }
        }
        @media screen and (max-width: 1200px) {
          grid-template-columns: 1fr;
          img {
            margin-left: 20px !important;
          }
          span {
            font-size: 14px !important;
          }
          .history {
            margin: 0;
          }
        }
        @media screen and (max-width: 992px) {
          padding: 5%;
        }
        @media screen and (max-width: 768px) {
          span {
            font-size: 10px !important;
          }
        }
        @media screen and (max-width: 1200px) {
          margin: 0;
        }
      }
      @media screen and (max-width: 768px) {
        padding: 5%;
      }
    }
  }
}