@font-face {
  font-family: roboto-regular;
  src: url(../content/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-thin;
  src: url(../content/fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: roboto-black;
  src: url(../content/fonts/roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(../content/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(../content/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto-medium;
  src: url(../content/fonts/roboto/Roboto-Medium.ttf);
}

@media screen and (max-width: 768px) {
  html ::-webkit-scrollbar {
    display: none;
  }
}

header {
  font-family: roboto-thin;
}

header .navbar {
  background-color: #8a9a9a;
  width: 100%;
  top: 0;
  position: fixed;
  padding: 10px 40px;
  z-index: 98;
}

header .navbar ul:nth-of-type(1) {
  text-decoration: none;
  width: 100%;
  text-align: right;
  margin: 0;
  height: 20px;
  padding: 0 0 0 5px;
}

header .navbar ul:nth-of-type(1) li {
  display: inline;
  color: white;
  cursor: pointer;
}

header .navbar ul:nth-of-type(1) li:nth-of-type(3) {
  margin-left: 40px;
  margin-right: 10px;
}

header .navbar ul:nth-of-type(1) li:nth-of-type(1) {
  display: none;
  float: left;
}

header .navbar ul:nth-of-type(1) li:nth-of-type(1) img {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 768px) {
  header .navbar ul:nth-of-type(1) li:nth-of-type(1) {
    display: block;
  }
}

header .navbar ul:nth-of-type(1) li img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-bottom: 5px;
}

header .navbar ul:nth-of-type(2) {
  padding: 0;
  text-decoration: none;
  text-align: left;
  width: 100%;
  height: 0;
  display: none;
  margin: 0;
  -webkit-transition: height 2s;
  transition: height 2s;
}

header .navbar ul:nth-of-type(2) li {
  width: 100%;
  list-style: none;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  padding: 10px 10px 10px 5px;
  cursor: pointer;
}

header .navbar ul:nth-of-type(2) li img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-bottom: 5px;
}

header .navbar ul:nth-of-type(2) li:nth-of-type(1) {
  padding: 0;
}

header .navbar ul:nth-of-type(2) li:hover {
  background-color: #86af49;
}

header .navbar ul:nth-of-type(2) .active {
  background-color: #86af49;
}

.leftmenu {
  font-family: roboto-regular;
  height: 100%;
  background-color: #5f7278;
  position: fixed;
  padding: 120px 20px;
  top: 0;
  z-index: 99;
}

.leftmenu .logo {
  position: absolute;
  top: 0;
  background-color: white;
  border-radius: 100%;
  padding: 10px;
  width: 50px;
  margin-top: 40px;
}

.leftmenu .icon {
  width: 50px;
  height: 50px;
  display: block;
  padding: 12px;
  border-radius: 100%;
  background-color: #8a9a9a;
  margin-top: 30px;
  cursor: pointer;
}

.leftmenu .icon img {
  width: 100%;
}

.leftmenu .icon:nth-of-type(1) {
  margin: 5px 0 0 0;
}

.leftmenu .icon:nth-of-type(4) {
  position: fixed;
  margin-bottom: 40px;
  bottom: 0;
}

.leftmenu .icon:hover {
  background-color: #86af49;
}

.leftmenu .icon .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  left: 100%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  margin-top: -25px;
  font-size: 14px;
}

.leftmenu .icon .tooltiptext::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 100%;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #555;
}

.leftmenu .icon #bugtip {
  margin-left: 10px;
}

.leftmenu .icon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.leftmenu .active {
  background-color: #86af49;
}

.leftmenu label {
  color: white;
  width: 100%;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .leftmenu {
    display: none;
  }
}

.content {
  margin-top: 70px;
  margin-left: 140px;
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .content {
    margin-left: 50px;
  }
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading img {
  width: 100px;
  height: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=index.css.map */