$GoblinBlue: rgb(95, 114, 120);
$SilverBLue: rgb(138, 154, 154);
$BlueRadiance: rgb(89, 201, 213);
$ViridianGreen: rgb(0, 147, 154);
$DirectoireBlue: rgb(0, 98, 163);
$TrueBlue: rgb(31, 68, 120);
$OnlineLime: rgb(68, 136, 61);
$Greenery: rgb(134, 175, 73);

@font-face {
  font-family: roboto-regular;
  src: url(../content/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-thin;
  src: url(../content/fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: roboto-black;
  src: url(../content/fonts/roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(../content/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(../content/fonts/roboto/Roboto-Bold.ttf);
}
